
.bgrt_img{
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}
.cardborder{
    box-shadow: 0 20px 45px -15px #000 !important;
}

.bgcolor{
   background: linear-gradient(#015C99,#B1D156);
   // background: linear-gradient( #4568dc, #b06ab3)
}

.bgcolor .dark{
    background: linear-gradient(#015C99,#B1D156);
    // background: linear-gradient( #4568dc, #b06ab3)
 }

 .dark .login-content .bg-white {
   background: linear-gradient( #4568dc, #b06ab3) !important
}

